body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    position: relative;
    margin: auto;
    border-spacing: 0;
    caption-side: bottom;
}

thead {
    background-color: rgb(2, 40, 86);
    text-align: center;
    color: white;
}

th,
td {
    margin: 0;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.packages {
    background-color: rgb(44, 87, 166);
    color: white;
}

tbody th,
td {
    border: solid .5px gray;
}

tbody tr:nth-child(even) {
    background-color: rgb(219, 227, 240);
}