body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    position: relative;

}

header {
    background-color: #8D172D;
    color: #ede5cb;
    margin: 0px;
}


main div {
    margin: auto;
    height: 15em;
    width: 95%
}

.logo {
    width: 12em;
}

.headline {
    text-align: center;
}

.date {
    text-align: center;
    margin: 0 auto;

}

.discover_main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.discover_main h1,
.discover_main h2 {
    grid-column: 2;
    text-align: center;
    margin: 0;
}

.discover_main h2 {
    margin-top: 1em;
}

.groups,
.stats {
    font-size: 12px;
    margin-bottom: 10em;
}

.groups {
    text-align: left;
}

.stats {
    text-align: right;
}

.demographics {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: center;
}

.site_views {
    grid-column: 2;
    text-align: center;
    margin-top: 3em;
}

.discover_images {
    display: grid;
    position: relative;
    width: 100%;
    margin: 1em auto 0 auto;
    grid-column: 2;
}

.discover_images:hover {
    box-shadow: 8px 8px 15px #273E47;
}

.image_description {
    grid-column: 2;
    margin: 0;
    font-size: 12px
}

.socials {
    width: 1.5em;
    padding: .25em;
}

.thankyou-main {
    text-align: center;
    margin: 200px;
}

.thankyou-main a {
    text-decoration: none;
    color: black;
}

.thankyou-main a:hover {
    color: #8D172D;
}

.main-element {
    background-color: #273E47;
    color: #ede5cb;
    text-align: center;
    box-shadow: 8px 8px 15px #273E47;
}

.main-element p {
    font-size: 20px;
}

.main-element h2 {
    font-size: 30px;
}

.main-element h3 {
    font-size: 24px;
    text-decoration: solid 2px #ede5cb;
}

.main-element img {
    position: relative;
    width: 5em;
    margin: auto;
}

#hero {
    background-image: url("../images/neighborhood.webp");
    background-size: cover;

}

.image-text {
    z-index: 1;
    color: #c0edf9;
}

#hero button {
    width: 10rem;
    background-color: #a54a15;
    color: #ede5cb;
    border-radius: 10px;
    padding: 10px;
}

#hero button:hover {
    background-color: #86380a;
}

#event a {
    color: #ede5cb;
}

#event a:hover {
    color: #bbaf88;
}

#weather {
    text-align: center;
}

.wind {
    position: relative;
    top: 40px;
}

#speed {
    position: relative;
    right: 7px;
}

#chill {
    position: relative;
    left: 32px;
}

#weather-caption {
    position: relative;
    bottom: 20px;
    right: 7px;
}



#weather-icon {
    position: relative;
    margin: auto;
    float: left;
    left: 15%;
}

#temp {
    position: relative;
    font-size: 50px;
    text-align: center;
    bottom: 50px;
    float: right;
    right: 15%;
}

#spotlight1 {
    position: relative;
}

#spotlight2 {
    position: relative;
}

#spotlight3 {
    visibility: hidden;
    display: none;
}

#join {
    visibility: hidden;
    display: none;
}

#join button {
    position: relative;
    display: flex;
    display: grid;
    text-align: center;
    width: 90%;
    height: 50px;
    margin: auto;
    background-color: #a54a15;
    color: #ede5cb;
    border-radius: 10px;
    padding: 10px;
    top: 20px;
    box-shadow: 8px 8px 15px #16252b;
}

#join button:hover {
    background-color: #86380a;
}

footer {
    text-align: center;
    color: #ede5cb;
    background-color: #8D172D;
    margin-top: 1em;
}

footer a {
    text-decoration: none;
    color: #ede5cb;
}

footer a:hover {
    color: #273E47;
}

footer h3 {
    border-top: #273E47 1px dotted;
    padding-top: 5px;
}

.directory_main {
    margin: auto;
    text-align: center;
}

.grid_cards section {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
    background-color: #d7d7da;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 5px 5px 20px black;
}

.directory_menu {
    top: 20px;
    display: inline-block;
    position: relative;
    height: 50px;
}



.list_cards section img {
    display: none;
    visibility: hidden;
}

.list_cards {
    display: flex;
    flex-direction: column;
}

.list_cards section {
    text-align: left;
    margin: 0;
    padding: 0.25rem;
}

.list_cards section>* {
    margin: 0 1rem;
}

.list_cards section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list_cards section:nth-child(even) {
    background-color: #d7d7da;
}


/*---------Interactive nav bar stuff---------*/
nav {
    margin: 0 auto;
    max-width: 760px;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #273E47;
}

.navbar li:first-child {
    display: block;
}

.navbar li {
    display: none;
}

.navbar a {
    display: block;
    text-align: left;
    padding: .5em;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    color: #ede5cb;
}

#menu::before {
    content: "≡";
    font-size: 1.5em;
}

.navbar a:hover,
.navbar a:active {
    color: #273E47;
    background-color: #ede5cb;
}


.responsive li {
    display: block;
}

.responsive #menu::before {
    content: "X";
}

/* ---------------FORM---------------- */
/* Center the form horizontally */
.grid-form {
    width: 80%;
    margin: 10px auto;
}

/* Style the form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style the form inputs */
input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #273E47;
    color: #ede5cb;
    font-weight: bold;
    cursor: pointer;
}

/* Style the form field with the required attribute */
input[required],
select[required],
textarea[required] {
    border-color: #ff0000;
}

/* Style the membership benefits list */
#membership-benefits {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 16px;
}

#membership-benefits h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

#membership-benefits ul {
    list-style: none;
    padding: 0;
}

#membership-benefits li {
    margin-bottom: 5px;
}

.benefits {
    margin: auto;
}

.benefits td {
    width: 20%;
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width: 40em) {
    .navbar {
        display: flex;
    }

    .navbar li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navbar a {
        text-align: center;
    }

    .navbar li:first-child {
        display: none;
    }
}