body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    position: relative;

}

header {
    background-color: #8D172D;
    color: #ede5cb;
    margin: 0px;
}

main div {
    margin: auto;
    height: 15em;
    width: 95%
}

.logo {
    width: 12em;
}

.headline {
    text-align: center;
}

.date {
    text-align: center;
    margin: 0 auto;

}

.socials {
    width: 1.5em;
    padding: .25em;
}

.main-element {
    background-color: #273E47;
    color: #ede5cb;
    text-align: center;
    box-shadow: 8px 8px 15px #273E47;
}

.main-element p {
    font-size: 20px;
}

.main-element h2 {
    font-size: 30px;
}

.main-element h3 {
    font-size: 24px;
    text-decoration: solid 2px #ede5cb;
}

.main-element img {
    position: relative;
    width: 5em;
    margin: auto;
}

#hero {
    /* background-image: url("../images/neighborhood.webp");
    background-size: cover; */
    margin-top: 10px;
    color: #ede5cb;
    position: relative;
    display: flex;
}

#hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    z-index: 1;
    color: #c0edf9;
}

#hero button {
    width: 10rem;
    background-color: #a54a15;
    color: #ede5cb;
    border-radius: 10px;
    padding: 10px;
}

#hero button:hover {
    background-color: #86380a;
}

#event a {
    color: #ede5cb;
}

#event a:hover {
    color: #bbaf88;
}

#weather {
    position: relative;

}

.wind {
    position: relative;
    top: 75px;
}

#weather-icon {
    position: relative;
    margin: auto;
    float: left;
    left: 15%;
}

#temp {
    position: relative;
    font-size: 50px;
    text-align: center;
    bottom: 50px;
    float: right;
    right: 15%;
}

#spotlight1 {
    position: relative;
}

#spotlight2 {
    position: relative;
}

#spotlight3 {
    visibility: hidden;
    display: none;
}

#join {
    visibility: hidden;
    display: none;
}

#join button {
    position: relative;
    width: 90%;
    background-color: #a54a15;
    color: #ede5cb;
    border-radius: 10px;
    padding: 10px;
    top: 50px;
    box-shadow: 8px 8px 15px #16252b;
}

#join button:hover {
    background-color: #86380a;
}

footer {
    text-align: center;
    color: #ede5cb;
    background-color: #8D172D;
    margin-top: 1em;
}

footer a {
    text-decoration: none;
    color: #ede5cb;
}

footer a:hover {
    color: #273E47;
}

footer h3 {
    border-top: #273E47 1px dotted;
    padding-top: 5px;
}


/*---------Interactive nav bar stuff---------*/
nav {
    margin: 0 auto;
    max-width: 760px;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #273E47;
}

.navbar li:first-child {
    display: block;
}

.navbar li {
    display: none;
}

.navbar a {
    display: block;
    text-align: left;
    padding: .5em;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    color: #ede5cb;
}

#menu::before {
    content: "≡";
    font-size: 1.5em;
}

.navbar a:hover,
.navbar a:active {
    color: #273E47;
    background-color: #ede5cb;
}


.responsive li {
    display: block;
}

.responsive #menu::before {
    content: "X";
}

@media only screen and (min-width: 40em) {
    .navbar {
        display: flex;
    }

    .navbar li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navbar a {
        text-align: center;
    }

    .navbar li:first-child {
        display: none;
    }
}