@media screen and (min-width: 80em) {
    #hero{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin-bottom: 150px;
    }

    #hero div{
        grid-column: 2;
    }

    #hero-img{
        margin-top: 5em;
        grid-column: 3;
        width: 450px;
    }

    .home-element{
        margin: 10px auto;
    }
}