@media screen and (min-width: 80em) {
    #hero-img {
        margin-top: 150px;
    }

    #hero {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 125px;
    }

    #hero button {
        font-size: 40px;
        border-radius: 10px;
        margin: auto;

    }
}