@media screen and (min-width: 80em) {
    #hero{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin-bottom: 150px;
    }

    #hero-div{
        position: relative;
        grid-column: 2;
        bottom: 50px;
    }

    #hero-img{
        position: relative;
        left: 10.5%;
        margin-top: 5em;
        grid-column: 3;
        width: 500px;
    }

    .navbar a {
        font-size: 30px;
    }

    .home-element{
        margin: 10px auto;
    }

}