@media (min-width: 45em) and (max-width: 80em) {

    .home-element{
        margin: 10px auto;
    }

    #hero{
        margin-bottom: 150px;
    }

    #hero-div{
        position: relative;
        top: 150px;
    }

    #hero-img{
        width: 450px;
    }

    form{
        margin: 50px auto;
    }

    .slideshow{
        margin: 10px auto;
    }
}