#profile-pic {
    width: 12em;
    border-radius: 50%;
    padding: 50px;
}

body {
    text-align: center;
    background-color: rgb(177, 213, 245);
    font-family: 'Source Code Pro', monospace;
}

h1 {
    padding-bottom: 35px;
    font-size: 20px;
}

footer {
    width: 80%;
    background-color: rgb(13, 13, 110);
    margin: 60px auto;
    color: rgb(214, 206, 200);
    padding: 15px;
    border-radius: 15px;
}

footer p {
    display: inline-block;
    font-size: 10px;
}

footer h2 {
    font-size: 15px;
}

div {
    background-color: rgb(214, 206, 200);
    width: 75%;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
}

div a {
    color: rgb(13, 13, 110);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;

}

div a:hover {
    color: rgb(69, 147, 214);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header img {
    grid-row: 1;
    grid-column: 2;
    margin: auto;
}

header span {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}